<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lee.practice.mybatisdemo.repository.UserMapper">

    <select id="findUser" parameterType="String" resultType="com.lee.practice.mybatisdemo.dto.User">
    select * from user_history where id = #{id}
    </select>

    <select id="getUserHistory" resultType="com.lee.practice.mybatisdemo.dto.User">
        select * from user_history
    </select>
</mapper>
