<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>text VS utext</h1>
<ul>
    <!--text: escape처리(디폴트), HTML 태그 노출 x    -->
    <li>th:text = <span th:text="${data}"></span></li>
    <!--utext: excape 처리 안함, HTML 태그 노출 o   -->
    <li>th:utext = <span th:utext="${data}"></span></li>
</ul>
<h1><span th:inline="none">[[...]] vs [(...)]</span></h1>
<ul>
    <li><span th:inline="none">[[...]] = </span>[[${data}]]</li>
    <li><span th:inline="none">[(...)] = </span>[(${data})]</li>
</ul>
</body>
</html>